[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-livereload-server = "*"
django-silk = "*"
django-rest-auth = "*"
"psycopg2" = "*"
django-postgres-copy = "*"
django-extensions = "*"
django-mjml = "*"
pygraphviz = "*"


[dev-packages]

"pep8" = "*"


[requires]

python_version = "3.6"
