{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <aside class="is-medium menu">
                    <p class="menu-label">
                        The API consists of
                    </p>
                    <ul class="menu-list">
                        <li class="is-right"><a href="#const" class="is-active"><i class="fab fa-css3-alt"></i> Talent</a></li>
                        <li><a href="#let" class="is-active"><i class="fab fa-js"></i> Seekers</a></li>
                        <li><a href="#let" class="is-active"><i class="fab fa-html5"></i> Events</a></li>
                    </ul>
                    <p class="menu-label">
                        More to read...
                    </p>
                    <ul class="menu-list">
                        <li><span class="tag is-white is-medium">Lorem</span></li>
                        <!-- <li><span class="tag is-white is-medium">Ipsum</span></li>
                        <li><span class="tag is-white is-medium">Dolor</span></li>
                        <li><span class="tag is-white is-medium">Animi</span></li>
                        <li><span class="tag is-white is-medium">Eximi</span></li>
                        <li><span class="tag is-white is-medium">Nullius</span></li>
                        <li><span class="tag is-white is-medium">Oxipi</span></li>
                        <li><span class="tag is-white is-medium">Vultus</span></li>
                        <li><span class="tag is-white is-medium">Voluptatis</span></li>
                        <li><span class="tag is-white is-medium">Exomarphis</span></li>
                        <li><span class="tag is-white is-medium">Finimi</span></li>
                        <li><span class="tag is-white is-medium">Aenigma</span></li>
                        <li><span class="tag is-white is-medium">Arkham</span></li>
                        <li><span class="tag is-white is-medium">Blue</span></li>
                        <li><span class="tag is-white is-medium">Medium</span></li> -->
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <div class="content is-medium">
                    <h3 class="title is-3">More to Come ¯\_(ツ)_/¯</h3>
                    <h3 class="title is-3">More to Come...</h3>
                    <div class="box">
                        <h4 id="lorem" class="title is-4">More to come...</h4>
                        <article class="message is-primary">
                            <span class="icon has-text-primary">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <div class="message-body">
                                This is the future home of the documentation of the Talented RESTful API.
                            </div>
                        </article>
                        <div class="subtitle">Components:</div>
                        <pre><code class="language-javascript">Django REST Framework server</code></pre>
                        <pre><code class="language-javascript">Vue SPA Frontend</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- {% for post in posts %} -->
<div class="post">
    <div class="date">
        <!-- {{ post.published_date }} -->
    </div>
    <!-- <h1><a href="">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p> -->
</div>
<!-- {% endfor %} -->
{% endblock %}