<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Talented</title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script language="JavaScript">
        document.write(
            '<section class="hero is-small"><div class="hero-body"><div class="container has-text-centered"><a href="' +
            window.location.protocol + '//' + window.location.hostname + ':8080' + '" ><div class="button is-info is-outlined is-large"> Go to Marty and Shmells Wedding Site!</div></a></div></div></section>'
        );
        // http://192.168.0.11:8080/
    </script>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>